body {
    padding: 1rem;
}

.weather {
    max-width: 700px;
    margin: 0 auto;
}
.weather-today {
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
}
.temperature-today {
    display: inline-block;
    font-size: 60px;
    font-weight: 500;
    padding-right: 20px;
    position: relative;
    vertical-align: middle;
}
.temperature-unit {
    font-size: 15px;
    line-height: 1;
    position: absolute;
    top: 1rem;
    right: -1rem;
}
.temperature-unit a {
    text-decoration: none;
}
.week-day {
    color: gray;
}
.weather-next i {
    color: lightblue;
    font-size: 2rem;
    display: block;
    margin: 0.5rem 0;
}
.temperature-next {
    font-weight: 600;
}

.coded-by {
    display: block;
    max-width: 700px;
    margin: 0 auto;
}
